:root{
    --ash: #ebebed;
    --pink: #ef4456;
    --deepblue: #33384b;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
section{
    padding: 100px;
}

header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    
}

header.sticky{
    background: var(--deepblue);
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

header .logo{
    text-transform:capitalize;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: var(--deepblue);
    text-decoration: none;
}
header.sticky .logo{
    color: #ffffff;
}

header .logo span{
    color: var(--pink);
}

header  ul{
    
    position: relative;
    display: flex;
}

header  ul li{

    list-style-type: none;
    display: inline-block;
    margin: 0 15px;
    
   
}

header  ul li a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color:var(--deepblue);

}
header.sticky  ul li a{
    color: #ffffff;
}
header  ul li a:hover{
    color: var(--pink);
}


.banner{
    position: relative;
    min-height: 100vh;
    background-color: var(--ash);
    /** background: url(../assets/bg2.png); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid var(--deepblue);
}

.banner .textBx{
    position: relative;
    margin-top: 50px;
    width: 700px;
}

.banner .imgBx{
    position: relative;
    background-position: right;
    background-size: cover;
    width: 100%;
    height: 100% ;
    

}

.banner .imgBx img{
    margin-top: 180px;
    max-width: 100%;
    
}

.banner h1{

    text-transform: capitalize;
    font-size: 4em;
    font-weight: 800;
    color: #33384b;
    font-family:'Montserrat', sans-serif; 
    line-height: 1em;
    margin-bottom: 30px;

}

.banner p{
    font-size: .9em;
      font-family: cormorant;
      font-weight: 800;
      line-height: 20px;
      margin-bottom: 15px;
      color: var(--deepblue);

}

.banner a{
    background: var(--pink);
    position: relative;   
    display: inline-block;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    padding: 10px 30px;
    text-decoration: none ;
    letter-spacing: 1.5px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right,#e2152b , #ef4456);

}

.collections{
    background-image: linear-gradient(to bottom,var(--ash),#fff,#d8d8d8);
    position: relative;
    padding-bottom: 100px;
    
}
.collections .heading{

    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: var(--deepblue);

}
.collections .bg-dark{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 210px;
    width: 70%;
    background-color: #33384b;
    position: absolute;
    right: 0;
    top:-110px;
    border-radius: 15px 0px 0px 15px;
    background-image: linear-gradient(to bottom right, #212c52 , #33384b);
 
}

.collections .bg-dark .captionBx{
    padding: 10px 15px;
    color: #fff;
    max-width: 300px;

}

.collections .bg-dark .captionBx h4{
    font-family: cormorant;
    color: #ffffff;
    font-size: 16px;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 10px;

}

.collections .bg-dark .captionBx p{
    color: #ffffff;
    font-size: 16px ;
    line-height: 2.5vh;
}




.heading h1{

    text-align: center;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 700;
    color: #33384b;
    font-family: 'Montserrat', sans-serif;
    margin-top: 25px;
       

}

.collections .galleryBx{
    display: flex;
    flex-direction: row;
    justify-content: center;
                
}
.collections .galleryBx .collect1{
    display: block;
   
    width: 400px;
    margin: 10px 0 10px 0;
}
.collections .galleryBx .collect2{
    width: 400px;
    margin:10px  10px ;
}
.collections .galleryBx .collect3{
    width: 400px;
    margin: 10px 0 10px 0;
}


.collections .galleryBx .content {

    height: 550px;
    overflow: hidden;
    width: 100%;


}

.collections .galleryBx .content img{
    height: auto;
    display: block;
    max-width: 100%;
}

.collections .galleryBx .text{

    height: 300px;
    background-color: #ebebeb;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    align-items: center;
    position: relative;
    overflow: hidden;

}
.collections .galleryBx .text hr{
    border: 1.5px solid #ef4456;
    width: 30%;
    margin: 0 auto;
}

.collections .galleryBx .text h1{
    position: absolute;
    font-size: 250px;
    font-family: Montserrat;
    font-weight: 800;
    color: #d8d8d8;
    top: 91px;
    left: -38px;
}

.collections  .galleryBx .text p{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    color: #33384b;
    font-family: cormorant;
    position: relative;
    z-index:2;
}

.collections .imgsampleBx {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.collections .imgsampleBx .contentimage{
    max-width: 100%;
    height: 300px;
    overflow: hidden;
    

}

.collections .imgsampleBx .contentimage img{
    max-width: 100%;
    

}

.newarrival{
    background-image: linear-gradient(to bottom,#d8d8d8,#fff);
    display: flex;
    flex-direction: row;
    
}

.newarrival .contentBx{
  
    
}

.newarrival .contentBx .bigpic {
    
    height: 600px;
    width: 100%;
    overflow: hidden;
}


.newarrival .contentBx .bigpic img{
    width: 45%;
    height: auto;
    display: block;
    

}






